{% extends 'base.html' %}

{% block content %}

{% if object %}
    <h1>Edit {{ object.name }}'s Details</h1>
{% else %}
    <h1>Add a Shoe</h1>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <br>
    <input class="btn red" type="submit" value="{% if object %} Update {% else %} Add Shoe {% endif %}">
    {% if object %}
        <a class="btn black" href="{% url 'detail' object.id %}">Cancel</a>
    {% else %}
        <a class="btn black" href="{% url 'home' %}">Cancel</a>
    {% endif %}
</form>

{% endblock %}